
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    display: flex;
    justify-content: left;
    height: 100vh;
    position: relative;
    background-color: rgb(123, 175, 254);
    
}
img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    transform: scaleX(-1);

}
.container{
    background-color: #e7c9f4;
    height: 100vh;
    width: 40%;
    box-shadow:  0 0 5px rgba(255, 255, 255, 0.847) ; 
    border-radius: 0px 30px  30px 0px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;


}
h2{
    font-size: 60px;
    color: white;
    margin-top: 15%;

}
form{
    width: 80%;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 450px;
    position: absolute;
    left: 9%;
    top: 20%;
    
    
}
.usuario{
    display: flex;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.password{
    display: flex;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.usuario input{
    margin-left:  5px;
    width: 80%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center  ;
}
.password input{
    width: 80%;
    height: 50px;
    left: 0px;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    text-align: center;
}
.g-recaptcha{
    padding: 10px;
    border: none;
}
button{
    border: none;
    width: 80%;
    height: 50px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #ffffff;
    font-weight: bold;
}
button:hover{
    background-color    : #e6aac8 ;
    color: white;
}
label{
    font-weight: bolder;
}
.ejemplos{
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 10%;
}
