body {
    background: linear-gradient(135deg, #1a1c2b 0%, #45313b 100%);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
form{
    background-color: #484b61;
    border: black solid 1px;
    width: 450px;
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    text-align: left;
    height: 450px;
    border-radius: 20px;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.847)
}
.usuario{
    display: flex;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.password{
    display: flex;
    padding: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
.usuario input{
    margin-left:  5px;
    width: 50%;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: #484b61;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.847);
    text-align: center  ;
}
.password input{
    margin-left:  50px;
    width: 50%;
    height: 40px;
    left: 0px;
    border: none;
    border-radius: 10px;
    background-color: #484b61;
    box-shadow: inset    0 0 10px rgba(0, 0, 0, 0.847)
}
.g-recaptcha{
    padding: 10px;
    border: none;
}
button{
    border: none;
    width: 50%;
    height: 40px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: #484b61;
    box-shadow:    0 0 10px rgba(0, 0, 0, 0.847);
    font-weight: bold;
}
button:hover{
    background-color    : #6a1a42 ;
}
label{
    font-weight: bolder;
}